<!DOCTYPE html>
<html>
<body>

<h2>Calculator</h2>
<button type="button" onclick="alert('Hello world!')">1</button>
<button type="button" onclick="alert('Hello world!')">2</button>
<button type="button" onclick="alert('Hello world!')">3</button>
<button type="button" onclick="alert('Hello world!')">/</button>
<button type="button" onclick="alert('Hello world!')">C</button>
<br>
<button type="button" onclick="alert('Hello world!')">4</button>
<button type="button" onclick="alert('Hello world!')">5</button>
<button type="button" onclick="alert('Hello world!')">6</button>
<button type="button" onclick="alert('Hello world!')">*</button>
<br>
<button type="button" onclick="alert('Hello world!')">7</button>
<button type="button" onclick="alert('Hello world!')">8</button>
<button type="button" onclick="alert('Hello world!')">3</button>
<button type="button" onclick="alert('Hello world!')">-</button>
<br>
<button type="button" onclick="alert('Hello world!')">.</button>
<button type="button" onclick="alert('Hello world!')">0</button>
<button type="button" onclick="alert('Hello world!')">%</button>
<button type="button" onclick="alert('Hello world!')">+</button>
<button type="button" onclick="alert('Hello world!')">=</button>

 
</body>
</html>

